h1{
            text-align: center;
        }
        .navbar ul {
            background-color: hsl(0, 0%, 25%);
            list-style: none;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }
        .navbar a{
            color: white;
            text-decoration: none;
            padding: 15px;
            display: block;
        }
        .navbar a:hover{
            background-color: hsl(0, 0%, 54%);
        }
        .navbar li{
            float: left;
        }
        main{
            margin-left: 20px;
            margin-right: 20px;
        }